*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
::-webkit-scrollbar {
    display: none;
}
body{
	-ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
	background-color: initial;
}
html{
	background-image: url("../image/defaultBackground.jpg");
}
img#item{
    max-width: 50vw;
    height: 50vh;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
#ondescription{
    display: flex;
    flex-flow: column;
} 

.description{
    width:100%;
}
.description#title{
    border-bottom:gray 2px solid;
    font-size: 50px;
    font-weight: bolder;
}
.description#content{
    height: 25vh;
    max-height: 25vh;
    /* overflow: hidden;
    overflow-x: scroll; */
    font-size: 20px;
}
.description#onpay{
    height: 10vh;
    display: flex;
    justify-self: end;
    justify-content: start;
}
.description#onpay div#payCount{
    
    display: flex;
    justify-self: end;
    justify-content: end;
}

.description#onpay div#payCount *{
    display: flex;
    align-self: flex-end;
}



.description#onpay div#payCount div{
    margin: 10px; 
    text-align: center;
}
.description#onpay div#payCount div#contain{
font-size: 20px;
font-weight: bolder;
}

.description#onpay div#payCount div#input{

    border-width:0px;
	border-bottom: gray 2px solid;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.description#onpay div#payCount div#input input{
	text-align: end;
	background: none;
	padding: 10px 0px;
    height: 30px;
	width: 100px;
    max-width: 100px;
	border:none;
	font-weight: bold;
	font-size: larger;
	outline:none;
    
}

/* Chrome, Safari, Edge, Opera */ 
.description#onpay div#payCount div#input input::-webkit-outer-spin-button, .description#onpay div#payCount div#input input::-webkit-inner-spin-button {
    webkit-appearance: none;  
    appearance: none;  
    margin: 0px 5px; 
}  
/* Firefox */ 
.description#onpay div#payCount div#input input[type=number] {
    -moz-appearance: textfield; 
}

.description#onpay div#payCount div#input::after{
    content: "x";
    display: flex;
    align-self: end;
}


.description#price div#inprice{
    font-size: 30px;
    padding-bottom: 4px;
    display: inline-flex;
    align-items: flex-end;
}
.description#price #btn_{
    flex-grow: 1;
    display: flex;
    justify-content:end;  
}


.description#price button#sender{
    transition: 1s;
    

    border-bottom: gray solid 2px;
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 40px;
    width: 150px;
    margin: 10px;
    font-size: 20px;
}
.description#price button#sender:hover{
    transition: 500ms;

    transform: scale(1.02,1.02);

}
.description#price button#sender:active{
    transition: 1s steps(0,1);
    transform: scale(1.05,1.05);

}

.description#price{
    display: inline-flex;
    flex-direction: row;
    justify-content:end;   
    padding: 0px;

    margin: 10px;
}
main{
    animation-name: main;
    animation-fill-mode: forwards;
    animation-duration: 600ms;
}
input[type="button"]{
    background: none;
    height: 50px;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-bottom: gray 2px solid;
    animation-name: unclick;
    animation-fill-mode: forwards;
    animation-duration: 100ms;
}

input[type="button"]:hover{
    animation-name: onclick;
    animation-fill-mode: forwards;
    animation-duration: 100ms;
}
div.pagechanger{
    transition-duration: 500ms;
}
div.pagechanger:hover{
    transition-duration: 500ms;
    background-color: rgba(128, 128, 128, 0.15);
}
div.pagechanger:active{
    transition-duration: 100ms;
    background-color: rgba(128, 128, 128, 0.30);
}

@keyframes main {
    0%{
        opacity: 0;
        transform: scale(0.1,0.1)
    }
    40%{
        opacity: 1;
        transform: scale(1.1,1.1)
    }
    100%{
        transform: scale(1,1)
    }
}
@keyframes onclick{
    from{
        transform: scale(1,1);
    }
    to{
        transform: scale(1.05,1.05);
    }
}
@keyframes unclick{
    from{
        transform: scale(1.05,1.05);
    }
    to{
        transform: scale(1,1);
    }
}
