#index{
    font-family: Microsoft JhengHei;
    background-image: url(./image/defaultBackground.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
img{
    border-radius: 20px;
}
.ourname{
    font-size: 25px;
}
.text {
    height: 100vh;
}


/* new */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
/* main */
/* header{
    font-family: Microsoft JhengHei;
    background-image: url(../image/1.jpg);
    /* height: 300px; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
} */
.col-lg-5{
    background-color: rgba(30, 153, 202, 0.62);
}
.ourname{
    font-size: 25px;
}
.text {
    height: 100vh;
}
button{
    position: relative;
    color: #fff;
    background-color: #000;
}

/* product */

.boxone{
    transition-duration: 250ms;
    min-width: 350px;
    max-width: 450px;
    margin: 10px auto;
    position: relative;
    bottom: 0px;
    left: 0;
}
.boxone img{
    border-radius: 0;
}
.boxone:hover{
    transition-duration: 250ms;
    bottom: 10px;
    left: 0;
}








/* about */
#banner {
    background-image: url(../images/aboutPic.jpg);
    background-position: center center;
    background-size: cover;
    padding-top: 50px;
    height: 80px;
}
.title {
    color: #FA8072;
    font-weight: bold;
}

a.a{
    text-decoration: none;
    color: #000;
}
button.buy{
	background-color: white;
	border: 1px solid darkcyan;
	color: darkcyan;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	transition-duration: 0.4s;
	border-radius: 8px;
}
button.buy:hover{
	background-color: #aaaaaa;
}
button.buy:active{
	background-color: #777777;
}
.trapCard{
    background-color:rgb(194, 146, 92, .7);
    
    border-radius: 10px;
    color:white;
    padding: 25px;
    min-height: 350px;
    max-height: 450px;
    width:300px;
    min-width: 300px;
    margin:50px;
 } 
.trapCard:hover>span>i{
    transition-duration: 500ms;
    transform: scale(1.1,1.1);
}
.trapCard>span.icon>i{
    transition-duration: 500ms;
}
span.icon{
    font-size: 70px;
}

/* ani */
#product{
    background-color:rgb(212, 178, 140, .7);
    
}

#descriptions{
    background-color:#ffffff; 
    display: flex;/*排版類型*/
    flex-direction: column;/*排序方向改成欄*/
    /* flex-wrap: wrap;  換行*/
    justify-content: center;/*垂直對其 其實是水平*/
    align-items: center;/*水平對其 其實是垂直*/
    padding: 50px 0;
 } 
.description{
    padding: 10px;
    border-radius: 10px;
    display:flex;
    margin:20px;
}
.f{
    margin:30px;
    width: 500px;
}
.aniPic{
    width: 500px;
    height: 350px;
}

.manber{
    background-color: none;
    display: flex;
    align-items: center;
    margin: 0px 10px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;

}

.manber div.name{
    width: 200px;
    
}

.manber .containt{
    height: 200px;  
    
}
.manber .containt div{
    height: 150px;  
    padding: 10px;
    font-size: 20px;
}
.manber .containt button{
    margin: 10px;
}
.name{
    height: 150px;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameButton{
    transition-duration: 1s;
    background-color: #ceaf8c;
    border-radius: 10px;
    padding: 5px;
    border: none;
}
.nameButton:hover{
    transition-duration: 0.5s;
    background-color: #999999;
    border-radius: 0px;
}

img#xyz:hover{
    content: url(./image/XYZicon2.gif);
}

img#eluo{
    height: 160px;
    width: 200px;
}

div#eason:hover > img#eluo {
    transition-duration: 4s;
    position:relative;
    animation-name: eason;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out ;
    animation-fill-mode: forwards;
}
div#eason:active > img#eluo {
    animation-name: eluo;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes eluo{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes eason{
    0%{
        left: 0px;
    }
    25%{
        left: -250px;
    }
    60%{
        left: 2500px;
        display: block;
    }
    75%{
        display: none;
    }
    100%{
        height: 0px;
        width: 0px;
        
    }
}
/* .oporu{
    background-image: url("image/nutc.png");
    background-size: 110%;
    transition-duration: 3s;
}
.oporu:active{
    transform: scale(5,5);
    background-size: 1%;
    z-index: 1000;
} */
.oporu > div.oporu{
    background-image: url("image/nutc.png");
    background-size: 110%;
    transition-duration: 3s;
}
.oporu:hover > div.oporu{
    background-image: url("https://media.tenor.com/x8v1oNUOmg4AAAAd/rickroll-roll.gif");
    /* transform: scale(5,5);
    background-size: 10%; */
    transition-delay: 1s;
    z-index: 1000;
    animation-name: betterRick;
    animation-delay: 6s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes betterRick{
    0%{
        background-size: 110%;
        transform: scale(1,1);
    }
    100%{
        background-size: 10%;
        transform: scale(7,7);
        
    }
}
