*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
::-webkit-scrollbar {
    display: none;
}
body{
	-ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
	background-color: initial;
}
html{
	background-image: url("../image/defaultBackground.jpg");
}
a{
    text-decoration: none;
    color: #000;
}
button.buy{
	background-color: white;
	border: 1px solid darkcyan;
	color: darkcyan;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	transition-duration: 0.4s;
	border-radius: 8px;
}
button.buy:hover{
	background-color: #aaaaaa;
}
button.buy:active{
	background-color: #777777;
}
img.item{
	transition-duration: 500ms;
}
img.item:hover{
	-webkit-filter: blur(2px);
	filter: blur(2px);
	transition-duration: 500ms;
}
#value div{
	max-width: 75%;
	max-height: 75vh;
	border: #000 1px solid;
	background-color: rgba(0,0,0,0.2);
	margin-right: 10px;
	border-radius: 2%;
	animation-name: value-animat;
	animation-fill-mode: forwards;
	animation-duration:500ms;	
}

#value div:hover{
	animation-name: value-animat-hover;
	animation-fill-mode: forwards;
	animation-duration:500ms;
	
}
#shoppingcart{
	max-height: 75vh;
	max-width: 75%;
	overflow: scroll;
	border:#000 1px solid;
	border-radius: 2%;
}
.shoppingcart-value{
	border:#000 1px solid;
	margin: 10px;
	margin-top: 15px;
	height:115px;
	animation-name: shoppingcart-value-animat;
	animation-duration:300ms;	
	animation-fill-mode: forwards;

}
.shoppingcart-value:hover{
	animation-name: shoppingcart-value-hover-animat;
	animation-duration:100ms;	
	animation-fill-mode: forwards;
	
}
#value-title{
	padding: 10px;
	margin: 10px;
	display: block;
	border-bottom: gray 2px solid;
}
#value-first{
	height:45vh;
	margin-bottom: 1vh;
}
#value-end{
	height:29vh
}
.countinput{
	border-width:0px;
	border:none;
	border-bottom: gray 2px solid;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin: 0px 10px;
	font-weight: bold;
	outline:none;
	text-align: center;
	background: none;
	height: 40px;
	width: 200px;
}
@keyframes value-animat{
    from{
        background-color: rgba(0,0,0,0.3);
    }
    to{
        background-color: rgba(0,0,0,0.2);
    }
}
@keyframes value-animat-hover{
    from{
        background-color: rgba(0,0,0,0.2);
    }
    to{
        background-color: rgba(0,0,0,0.3);
		
    }
}
@keyframes shoppingcart-value-animat{
    from{
		border-radius: 15px;
		padding: 20px;
		transform: scale(1.05,1.05);
    } 
    to{
		border-radius: 10px;
        padding: 15px;
		transform: scale(1,1);
    } 
}
@keyframes shoppingcart-value-hover-animat{
	from{
		border-radius: 10px;
        padding: 15px;
		transform: scale(1,1);
    } 
    to{
		border-radius: 15px;
		padding: 20px;
        transform: scale(1.05,1.05);
    }
}
