*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
::-webkit-scrollbar {
    display: none;
}
body{
	-ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
	background-color: initial;
}
html{
	background-image: url("../image/defaultBackground.jpg");
}
a{
    text-decoration: none;
    color: #000;
}
button.buy{
	background-color: white;
	border: 1px solid darkcyan;
	color: darkcyan;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	transition-duration: 0.4s;
	border-radius: 8px;
}
button.buy:hover{
	background-color: #aaaaaa;
}
button.buy:active{
	background-color: #777777;
}
a.item{
	animation-name: item;
	animation-fill-mode: forwards;
	animation-duration:300ms;	
}
a.item img{
	border-radius: 20px;
}
a.item:hover{
	animation-name: item-hover;
	animation-fill-mode: forwards;
	animation-duration:100ms;	
}

@keyframes item{
    from{
		border-radius: 15px;
		padding: 20px;
		transform: scale(1.05,1.05);
    } 
    to{
		border-radius: 10px;
        padding: 15px;
		transform: scale(1,1);
    } 
}
@keyframes item-hover{
	from{
		border-radius: 10px;
        padding: 15px;
		transform: scale(1,1);
    } 
    to{
		border-radius: 15px;
		padding: 20px;
        transform: scale(1.05,1.05);
    }
}