body {
    font-family: Microsoft JhengHei;
}
#banner {
    background-image: url(../image/shopImage-2.jpg);
    background-position: center center;
    background-size: cover;
    padding-top: 50px;
    height: 80px;
}
.title {
    color: #FA8072;
    font-weight: bold;
}
::-webkit-scrollbar {
    display: none;
}
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}